:root {
  /* Main Green Theme */
  --frosted-mint: #d8f3dcff;
  --celadon: #b7e4c7ff;
  --celadon-2: #95d5b2ff;
  --mint-leaf: #74c69dff;
  --mint-leaf-2: #52b788ff;
  --sea-green: #40916cff;
  --dark-emerald: #2d6a4fff;
  --pine-teal: #1b4332ff;
  --evergreen: #081c15ff;

  /* Feature Colors */
  --orange-header: #fb8500;
  --yellow-header: #ffb703;
  --blue-header: #219ebc;
  --purple-header: #8338ec;
  --red-header: #ef233c;
  --green-header: #38b000;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  /* As requested */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}